/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/*
====================
Variables
====================
*/

:root {
    /* dark shades of primary colour */
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary-main colour */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary colour */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - use in headings */
    --clr-grey-1: hsl(209, 61%, 15%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* light grey - use for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    /* Other */
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: rgb(0, 0, 0);
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
========================
Global Styles
========================
*/

*,
::after,
::before {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background-color: var(--clr-black);
    color: var(--clr-grey-6);
}

.navbar {
    border-bottom: 0.5px solid rgb(107, 107, 107);
    width:100%;
    line-height: 82px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top:0;
    left: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--clr-grey-9);
}

.navbar a.nav-logo {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Karla';
    color: #d8d8d8;
    font-weight: bold;
}

.navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    text-align: center;
    min-width: 122px;
    padding: 0 30px;
}

.navbar ul li a:hover{
    transition:0.3s;  
}

.content {
    margin-top: 32%;
    margin-left: 100px;
}

h1 {
    font-size: 70px;
}

p {
    margin-top:10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btns {
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: var(--clr-primary-1);
    padding: 12px 20px;
    float: left;
    border:0;
    border-radius: 20px;
    margin-left: 10px;
}

.btns:hover {
    background: var(--clr-grey-7);
}

img {
    margin-top: 120px;
    margin-left: 135px;
    width: 420px;
    border-radius:50px;
    filter:grayscale(1);
}

img:hover{
    filter:grayscale(0);
    transition:3s;
    cursor: pointer;
}